/*designers*/
body {
  background-image: url(../Images/babypink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.container {
  position: relative;
  float: left;
  width: 427px;
  height: 475px;
  margin-left: 7px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(133, 181, 195, 0.75);
  border-radius: 10%;
}

.description {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

.container:hover .overlay {
  opacity: 1;
}
} 
.description { 
  visibility: visible;
  opacity: 1;
}
.image {
  float: left;
  width: 427px;
  height: 475px;
  border-radius: 10%;
display: block;
}

.avatar{
  height: 275px;
}